.oc-heading {
  height: 100vh;
  position: relative;
  display: block;
  background-image: url("../../../assets/dance/oc-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
