.pfs-heading {
  height: 100vh;
  position: relative;
  display: block;
  background-image: url("../../assets/dance/pfs-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.video-container {
  text-align: center;
  margin: 5rem 0rem 0rem 0rem;
}

.video-group {
  margin-bottom: 10rem;
}
