#root {
  margin-bottom: 5rem;
}

.heading-text {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.heading-highlight {
  background-color: black;
  color: white;
  padding: 1rem 2rem 1rem 2rem;
}

.page-description {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
}

.section-container {
  margin-top: 5rem;
}

.section-header {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 40px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section-subheader {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 25px;
  margin-top: 3rem;
}

.section-divider {
  margin-top: 3rem;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.caption-container {
  text-align: center;
  margin-top: 2rem;
}

.image-caption {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.image-subcaption {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icon-caption {
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  font-size: 20px;
  text-align: center;
}

a {
  color: black;
}

a:hover {
  cursor: pointer;
  color: orange;
}
